<section id="services" class="content-section services" data-magellan-target="services">
    <div class="content-overlay">
        <div id="service-columns" class="row" data-equalizer>
            <div class="small-12 columns">
                <h2 class="services-heading">Services</h2>
            </div>
            
            <div class="small-12 medium-4 columns overlaying-content">
                <div class="navy-tint" data-equalizer-watch>
                    <h3>Collision repair and painting to:</h3>
                    <ul>
                        <li>Autos</li>
                        <li>Box Trucks</li>
                        <li>Tractor Trailers</li>
                        <li>School Buses</li>
                        <li>Motor Coaches</li>
                        <li>Dump Trucks</li>
                        <li>Fire Trucks</li>
                        <li>Ambulances</li>
                        <li>Heavy Equipment</li>
                    </ul>
                </div>
            </div>

            <div class="small-12 medium-4 columns overlaying-content">
                <div class="navy-tint" data-equalizer-watch>
                    <h3>We specialize in:</h3>
                    <ul>
                        <li>Fiberglass</li>
                        <li>Metal fabrication</li>
                        <li>Aluminum, steel, and stainless steel</li>
                        <li>Welding repair</li>
                        <li>Body modification</li>
                    </ul>

                    <h3>Decaling:</h3>
                    <ul>
                        <li>Signs of any Kind</li>
                        <li>Lettering & Striping</li>
                    </ul>
                </div>
            </div>

            <div class="small-12 medium-4 columns overlaying-content">
                <div class="navy-tint" data-equalizer-watch>
                    <h3>Guaranteed Color Match with Axalta Coating Systems</h3>

                    <h3>We offer:</h3>
                    <ul>
                        <li>Competitive Prices</li>
                        <li>Quality Body & Paint Work</li>
                        <li>On Site Estimates</li>
                        <li>Courtesy Pick-up and Delivery by Licenced CDL Drivers</li>
                        <li>Tows When Needed</li>
                        <li>Will Work with Your Insurance</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
