@using Hansen.Models
@model IEnumerable<GalleryImage>

<section class="content" id="content">
    @Html.Partial("_About")

    @Html.Partial("_Services")

    @Html.Partial("_Contact")

    @Html.Partial("_Gallery", Model)
</section>