.header {
    background-color: #010067;
    padding: 10px;
    margin-bottom: 25px;
}

.sticky {
    background-color: #010067;
}

.header .menu {
    position: relative;
    top: 10px;
}

    .header .menu a {
        color: #eee;
        text-shadow: 2px 2px 0 #000;
    }

        .header .menu a:hover,
        .header .menu a:focus {
            color: #2199e8;
        }

.footer {
    margin-top: 50px;
}

.content-section {
    position: relative;
}

.services {
    min-height: 500px;
    margin-bottom: 40px;
}

.services-heading {
    color: #fff;
    text-shadow: 2px 2px 0 #000;
    background-color: rgba(1, 0, 103, .30);
    padding: 0 15px;
    float: left;
}

.content-overlay {
    width: 100%;
    min-height: 500px;
    padding-top: 25px;
    position: relative;
}

    .content-overlay::after {
        content: '';
        min-height: 600px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url('/Content/images/services-wide.jpg');
        background-repeat: no-repeat;
        opacity: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

.navy-tint {
    background-color: rgba(1, 0, 103, .30);
    padding: 15px;
    height: 100%;
}

    .navy-tint h3,
    .navy-tint li {
        color: #fff;
        text-shadow: 2px 2px 0 #000;
    }

/*.map,
#hansen-map {
    height: 424px;
    width: 100%;
}*/

.large {
    font-size: 18px;
}

.button, button {
    background-color: #010067;
}

    .button:hover, .button:focus,
    button:hover, button:focus {
        background-color: #010067;
    }

.magellan-container {
	background-color: #010067;
	min-width: inherit;
	position: relative;
	top: 5px;
}

.magellan-container .sub-nav dd { margin-left: 0; }

.magellan-container .sub-nav dt a, .sub-nav dd a {
    color: #eee;
    font-weight: bold;
}
.magellan-container .sub-nav dt a, .sub-nav dd a:hover,
.magellan-container .sub-nav dt a, .sub-nav dd a:focus { color: #2199e8; }

.magellan-container dd.active a {
	background-color: #fff;
	color: #010067;
}

.m0 {
    margin: 0px;
}

.m0-top {
    margin-top: 0px;
}

.m0-right {
    margin-right: 0px;
}

.m0-bottom {
    margin-bottom: 0px;
}

.m0-left {
    margin-left: 0px;
}

.m1 {
    margin: 10px;
}

.m1-top {
    margin-top: 10px;
}

.m1-right {
    margin-right: 10px;
}

.m1-bottom {
    margin-bottom: 10px;
}

.m1-left {
    margin-left: 10px;
}

.m2 {
    margin: 20px;
}

.m2-top {
    margin-top: 20px;
}

.m2-right {
    margin-right: 20px;
}

.m2-bottom {
    margin-bottom: 20px;
}

.m2-left {
    margin-left: 20px;
}

.m3 {
    margin: 30px;
}

.m3-top {
    margin-top: 30px;
}

.m3-right {
    margin-right: 30px;
}

.m3-bottom {
    margin-bottom: 30px;
}

.m3-left {
    margin-left: 30px;
}

.m4 {
    margin: 40px;
}

.m4-top {
    margin-top: 40px;
}

.m4-right {
    margin-right: 40px;
}

.m4-bottom {
    margin-bottom: 40px;
}

.m4-left {
    margin-left: 40px;
}

.m5 {
    margin: 50px;
}

.m5-top {
    margin-top: 50px;
}

.m5-right {
    margin-right: 50px;
}

.m5-bottom {
    margin-bottom: 50px;
}

.m5-left {
    margin-left: 50px;
}

.vcard {
    display: inline-block;
    margin: 0 0 1.25rem 0;
    border: 1px solid #DDDDDD;
    padding: 0.625rem 0.75rem;
}

    .vcard li {
        margin: 0;
        display: block;
    }

    .vcard .fn {
        font-weight: bold;
        font-size: 0.9375rem;
    }
